@CHARSET "ISO-8859-1";
/* Local overrides of css */
#fixed_container {
    width: 990px;
    position: absolute;
}
#fixed_container.cling {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
    height: 10px;
}
#book_bag_spacer {
	height: 30px;
}
#book_bag {
    background-color: #eeeeee;
    background-image: url("../images/gradient-small-2.png");
    background-repeat: repeat-x;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    margin-right: 95px;
    float: right;
    position: relative;
    width: 320px;
    z-index: 10;    
}
.ui-autocomplete { 
z-index: 20!important; 
} 

#book_bag.cling {
	margin-top: 10px;
}
#book_bag_header {
    background-color: transparent;
    color: #3E3E3E;
    cursor: pointer;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 0;
    font-family: "Arial Unicode MS",Arial,Sans-Serif;
    font-size: 1.167em;
    text-align: center;
}
#book_bag_header:hover {
	background-image: none;
	background-color: #ffff99;
}
#bag_summary_header {
    background-image: url("../images/cart.png");
    background-repeat: no-repeat;
    padding-left: 1.667em;
}
#book_bag #book_bag_canvas {
    border: none;
    background-color: transparent;
    border-radius: 0;

    position: relative;
    right: auto;
    bottom: auto;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    z-index: auto;
    display: block;
}
#book_bag .empty_cart {
	float: none;
	margin-left: 105px;
}
#book_bag #bag_content {
	padding: 5px;
	border-top: 1px solid #999999;
}
#book_bag #bag_actions {
    height: auto;
}
#library-footer {
	background: #949494 url('/interface/themes/dcl/images/library-footer-top.png') repeat-x left top;
}
#similarTitlesSidegroup {
	display: none;
}
#searchbar {
	background-image: url(/interface/themes/dcl/images/searchbar-gradient.png);
	background-repeat: repeat-x;
}
#searchbar #lookfor {
	width: 275px;
}
#sidebar-wrapper {
	border-right: 1px solid #5D8EAC;
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
	width: 200px;
}
.sidegroup {
	border: 1px solid #949494;
	margin: 0 0 20px 0;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding-bottom: 10px;
}
.sidegroup h4 {
	padding: .5em 0 .5em 0;
	color: white;
	font-weight: bold;
	background-color: #e58e29;
	-moz-border-radius-topleft: 11px;
	border-top-left-radius: 11px;
	-moz-border-radius-topright: 11px;
	border-top-right-radius: 11px;
	text-align: center;
	margin-top: 0px;
}
#titleDetailsSidegroup h4 {
	background-color: #E58E29;
}
#tagsSidegroup h4 {
	background-color: #011751;
}
#similarTitlesSidegroup h4 {
	background-color: #011751;
}
#similarAuthorsSidegroup h4 {
	background-color: #011751;
}
#otherEditionsSidegroup h4 {
	background-color: #011751;
}
#materialsRequestPrefilterBlock {
	text-align: center;
	margin-top: 20px;
}
#materialsRequestPrefilterHeader {
	font-size: 16px;
	font-weight: bold;
	color: #273791;
}
.materialsRequestLine {
	margin: 10px 0px;
}
#materialsRequestPrefilterUnpublished {
	font-weight: bold;
}
#materialsRequestPrefilterAssist ul li {
	list-style: disc outside;
}
#materialsRequestPrefilterLimit {
	font-weight: bold;
	font-style: italic;
}
.searchcontent img.alignleft {
	margin: 10px 0 15px 50px;
}
.searchform #searchForm {
	margin: 25px 75px 0 0;
}
#moredetails-tabs {
	margin:20px 0 30px 0;
}
#notestab, #reviewtab, #readertab, #citetab, #stafftab, #holdingstab {
	padding:20px;
}

h1.idclreader-title
{
	color: #366603;
	font: 800 1.4em/1.5em "Palatino Linotype",Georgia,Times New Roman,Times,serif;	
}

img.idclreader-leftimg
{
	float:left;
	margin: 0 15px 5px 0;
}

div.idcltext
{
	background: none repeat scroll 0 0 #007B85;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

div.idcltext a
{
	color: #FFFFFF;
    float: left;
    margin: 10px;
    padding: 0;
    width: 175px;
}

div.ipad
{
	float: left;
    width: 230px;
    text-align:center;
}

div.ipad a img
{
	height: 80px;
}

div.ipadFirst
{
    margin-left:15px;
    padding-left:10px;
}

div.message-alert
{
	color:red;
	text-align: center;
	margin: 0 auto;
	clear:both;
	width: 590px;
	
}

#lernerInter a.button {
    display: block;
    width: 96px;
}
#lernerInter {
    position: absolute;
    right: 222px;
    top: 234px;
}

/* CSS overrides for Horizon Upgrade downtime */
/*
.resulthead:after, #homeLoginForm:after {
content: "My account is currently unavailable due to our upgrade of the check-in/check-out service. During the upgrade no fines will accrue, no holds will expire, and no items will be due for return. You will not be able to view your account, renew items or place holds, online, in person or by telephone. If possible, please plan to return borrowed items on another day.";
}
.resulthead:after {
font-size: 18px;
}
#loginFormWrapper, #needACardWrapper, #retreiveLoginInfo, #menu-account-links, #loginForm, .add_to_cart, div.generic-item-background a {
display: none!important;
}
div.generic-item-background, .checkoutLink, .requestThisLink, .generic-item-background {
display:none!important;
}
.imageColumn:after, .recordcoverWrapper:after {
content: "Unavailable";
color: white;
}
.imageColumn:after, .recordcoverWrapper:after {
background: #011753;
padding: 3px 10px;
border-radius: 6px;
}
*/
